<h1>All Tags</h1>

  <% @tags.each do |tag| %>
  <h3><%= link_to tag.name, tag_path(tag) %> </h3>
  <h5>(<%= link_to "delete", tag_path(tag), method: :delete, data: {confirm: "Delete this tag?" } %>)</h5>
  <% end %>

<p><%= link_to "Back to all articles", articles_path %></p>